
.container {
  max-width: 200px;    /*adjust it*/
  margin: auto;
  position: relative;
  display: inline-block;
}

.ms {
  position: absolute;
  top: 0;
  right: 10px;    
  padding-top: 5px;
}

#slicesPerPizza {  
  padding-right: 0px;  
}

#price {
  padding-right: 0px;  
}


